@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+SA+Beginner&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Delius+Swash+Caps&family=Edu+SA+Beginner&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fuzzy Bubbles";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(117deg, #fff5e0 -18.01%, #ff6969 89.16%);
}

.container {
  color: #141e46;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#greet {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 36px;
}
#sentence {
  margin-bottom: 32px;
  font-size: 24px;
}
#gnrt-btn {
  border-radius: 2rem;
  background: #c70039;
  color: #fff5e0;
  padding: 10px 56px;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-icon {
  position: relative;
  top: 41px;
}
.box {
  width: 600px;
  height: 600px;
  border-radius: 32px;
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-box {
  color: #141e46;
  width: 513px;
  font-size: 32px;
  margin: 180px 44px 24px 43px;
  gap: 126px;
}

#quote{
  font-size: 32px;
}
#writer{
  font-size: 24px;
  /* top: 126px; */
}
